<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
</head>
<body>
	<h1>Jessica Adjei</h1>
	<div style="display:inline-block; vertical-align:top;">
		<img src="https://myanimelist.cdn-dena.com/images/characters/3/324026.jpg">
	</div>
	<div style="display:inline-block;">
		<p>I am currently majoring in Robotics and Artificial Intelligence.</p>
	 
	 My favorite shows are :
		<ul>
			<li><a href="https://www.amazon.com/gp/video/detail/B07L7RGTZY/ref=atv_dl_rdr">Doctor Who</a></li>
			<li><a href="https://www.netflix.com/title/70155629">Charmed</a></li>
			<li><a href="https://www.amazon.com/Psych/dp/B000U63ZDS/ref=sr_1_1?s=instant-video&ie=UTF8&qid=1549471866&sr=1-1&keywords=psych">Psych</a></li>
			<li><a href="https://www.hulu.com/series/seinfeld-c3be4f02-5f40-4a59-8cbc-9ae9c178564c">Seinfeld</a></li>
			<li><a href="https://www.netflix.com/title/70136120">The Office</a></li>
		</ul>
		I speak :
		<ul>
			{% for lang in langs %}
				<li>{{lang}}</li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>